################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArnoldVolumeSpecular/FileContentIndex/5a48ac59-6d42-4354-bff4-665a3b303400.vsidx
